.custom-background {
    background-color: #05e081; /* Оберіть потрібний колір фону */
    padding: 20px; /* Додайте відступи за потреби */
    border-radius: 10px; /* Додайте закруглені кути за потреби */
}